* {
    box-sizing: border-box;
  }
  
html, body {
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/src/background_cert.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
